body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .app {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .header {
    background-color: #9e2d8b;
    color: white;
    padding: 10px;
    width:180%;
  }
  
  .menu {
    margin-top:5%;
    background-color: #9e2d8b;
    width: 50%;
    height: 50%;
    color: white;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
  }
  
  .menu.open {
    transform: translateX(0);
  }
  
  .content {
    margin-left: 50%;
    margin-top: 0%;
    /* flex-grow: 1; */
    display: flex;
  }
  
  main {
    width: 100%;
    padding: 20px;
  }
  